.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  background-color: #f0f8ff;
  padding: 20px;
}

.search-form-content {
  width: 100%;
  max-width: 600px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-form-elem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-control {
  width: 75%;
  padding: 10px;
  border: 2px solid #00796b;
  border-radius: 5px;
  font-size: 16px;
}

.search-button {
  padding: 10px 20px;
  border: none;
  background-color: #00796b;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #004d40;
}
